:host {

  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;

  --white: #fff;
  --gray: #808DAD;
  --gray-dark: #232727;

  --light: #E9E9EA;
  --dark: #121020;

  --o-theme-primary: #FD2B2B;
  --o-theme-secondary: #EC7505;

  --o-theme-warning: #FFC400;
  --o-theme-info: #0065FF;
  --o-theme-success: #36B37E;

  --o-theme-error: #DE350B;
  --o-theme-error-light: #faac99;

  /* Generic Colors variables*/
  --o-input-default: #4a627b;
  --o-input-default-light: #97A1A2;

  /* Size Style variables  & Font Style variables */
  --o-input-height: 3.5em;
  --o-input-font-size: 1em;
  --o-input-font-weight: 600;
  --o-input-font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'Helvetica Neue', Helvetica, sans-serif;
  --o-input-font-color-light: #FFFFFF;
  --o-input-font-color-dark: #091E42;
}

:host(.size-xs) {
  .o-input__field {
    min-height: var(--o-input-xs-min-height, 1.5rem);
  }
}

:host(.size-sm) {
  .o-input__field {
    min-height: var(--o-input-sm-min-height, 2rem);
  }
}

:host(.size-md) {
  .o-input__field {
    min-height: var(--o-input-md-min-height, 2.5rem);
  }
}

:host(.size-lg) {
  .o-input__field {
    min-height: var(--o-input-lg-min-height, 3rem);
  }
}

:host(.size-xl) {
  .o-input__field {
    min-height: var(--o-input-xl-min-height, 3.5rem);
  }
}

:host([filled]) {
  --o-input-bg-color: #E7EAEA;

  .o-input {
    &__container {
      &--active {
        .o-input__label {
          top: 5px;
        }

        .o-input__filled {
          transform: scaleX(1);
        }
      }
    }

    &__field {
      border: 0;
      border-bottom: 1px solid #121020;
    }

    &__filled {
      background: var(--o-theme-primary);
      bottom: 0;
      display: block;
      height: 1px;
      position: absolute;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: transform 0.5s;
      width: 100%;
    }
  }
}

:host([outline]) {
  --o-input-bg-color: transparent;

  .o-input {
    &__container {
      &--active {
        .o-input__label {
          top: calc(var(--o-input-font-size) * -.6);
        }
        .o-input__outline {
          &--bottom,
          &--top {
            transform: scaleX(1);
          }

          &--left,
          &--right {
            transform: scaleY(1);
          }
        }
      }
    }

    &__label {
      background-color: white;
      padding: 0 3px;
      z-index: 1;
    }

    &__field {
      border: 1px solid #121020;
    }

    &__outline {
      &--bottom,
      &--top,
      &--left,
      &--right {
        background: var(--o-theme-primary);
        display: block;
        position: absolute;
      }

      &--bottom,
      &--top {
        height: 1px;
        transform: scaleX(0);
        width: 100%;
      }

      &--right,
      &--left {
        height: 100%;
        transform: scaleY(0);
        width: 1px;

      }

      &--bottom {
        bottom: 0;
        transition: transform 0.3s;
        transform-origin: 0 50%;
      }

      &--right {
        right: 0;
        bottom: 0;
        transition: transform .2s .3s;
        transform-origin: 50% 100%;
      }

      &--top {
        top: 0;
        transition: transform .3s .8s;
        transform-origin: 100% 50%;
      }

      &--left {
        top: 0;
        transition: transform .2s 1.1s;
        transform-origin: 50% 0;
      }
    }
  }
}

.o-input {
  &__container {
    background-color: var(--o-input-bg-color);
    font-family: var(--o-input-font-family);
    position: relative;
  }

  &__label {
    font-size: var(--o-input-font-size);
    font-weight: 400;
    left: 10px;
    position: absolute;
    top: calc(50% - var(--o-input-font-size) / 2);
    transition: all .3s ease-in;

    .o-input__container--active & {
      font-size: calc(var(--o-input-font-size) / 2);
      transition: all .3s ease-in;
    }

    .o-input__container--focus & {
      color: var(--o-theme-primary);
    }
  }

  &__field {
    background: transparent;
    color: #121020;
    font-size: var(--o-input-font-size);
    font-weight: 400;
    min-width: 300px;
    outline: none;
    padding: 15px 10px 5px;
    width: 100%;

    &::placeholder {
      color: var(--gray);
      font-size: calc(var(--o-input-font-size) * .9);
      font-weight: 300;
    }
  }
}
